{% extends "layout.html" %}

{% block content %}
    <div id="miniCart">
    <a href="cart.html">Go to cart</a>
    </div>
    <div class="miniCart"></div>
    <div id="content"></div>

{% endblock %}
